@charset "utf-8";
/* Anchor Extension Check,
********************************************/
a[href$='.doc']::after,
a[href$='.docx']::after,
a[href$='.log']::after,
a[href$='.msg']::after,
a[href$='.odt']::after,
a[href$='.pages']::after,
a[href$='.rtf']::after,
a[href$='.tex']::after,
a[href$='.txt']::after,
a[href$='.wpd']::after,
a[href$='.wps']::after,
a[href$='.csv']::after,
a[href$='.dat']::after,
a[href$='.gbr']::after,
a[href$='.ged']::after,
a[href$='.ibooks']::after,
a[href$='.key']::after,
a[href$='.keychain']::after,
a[href$='.pps']::after,
a[href$='.ppt']::after,
a[href$='.pptx']::after,
a[href$='.sdf']::after,
a[href$='.tar']::after,
a[href$='.tax2012']::after,
a[href$='.vcf']::after,
a[href$='.xml']::after,
a[href$='.aif']::after,
a[href$='.iff']::after,
a[href$='.m3u']::after,
a[href$='.m4a']::after,
a[href$='.mid']::after,
a[href$='.mp3']::after,
a[href$='.mpa']::after,
a[href$='.ra']::after,
a[href$='.wav']::after,
a[href$='.wma']::after,
a[href$='.3g2']::after,
a[href$='.3gp']::after,
a[href$='.asf']::after,
a[href$='.asx']::after,
a[href$='.avi']::after,
a[href$='.flv']::after,
a[href$='.m4v']::after,
a[href$='.mov']::after,
a[href$='.mp4']::after,
a[href$='.mpg']::after,
a[href$='.rm']::after,
a[href$='.srt']::after,
a[href$='.swf']::after,
a[href$='.vob']::after,
a[href$='.wmv']::after,
a[href$='.3dm']::after,
a[href$='.3ds']::after,
a[href$='.max']::after,
a[href$='.obj']::after,
a[href$='.bmp']::after,
a[href$='.dds']::after,
a[href$='.gif']::after,
a[href$='.jpg']::after,
a[href$='.png']::after,
a[href$='.psd']::after,
a[href$='.pspimage']::after,
a[href$='.tga']::after,
a[href$='.thm']::after,
a[href$='.tif']::after,
a[href$='.tiff']::after,
a[href$='.yuv']::after,
a[href$='.ai']::after,
a[href$='.eps']::after,
a[href$='.ps']::after,
a[href$='.svg']::after,
a[href$='.indd']::after,
a[href$='.pct']::after,
a[href$='.pdf']::after,
a[href$='.xlr']::after,
a[href$='.xls']::after,
a[href$='.xlsx']::after,
a[href$='.accdb']::after,
a[href$='.db']::after,
a[href$='.dbf']::after,
a[href$='.mdb']::after,
a[href$='.pdb']::after,
a[href$='.sql']::after,
a[href$='.apk']::after,
a[href$='.app']::after,
a[href$='.bat']::after,
a[href$='.cgi']::after,
a[href$='.com']::after,
a[href$='.exe']::after,
a[href$='.gadget']::after,
a[href$='.jar']::after,
a[href$='.pif']::after,
a[href$='.vb']::after,
a[href$='.wsf']::after,
a[href$='.dem']::after,
a[href$='.gam']::after,
a[href$='.nes']::after,
a[href$='.rom']::after,
a[href$='.sav']::after,
a[href$='.dwg']::after,
a[href$='.dxf']::after,
a[href$='.gpx']::after,
a[href$='.kml']::after,
a[href$='.kmz']::after,
a[href$='.asp']::after,
a[href$='.aspx']::after,
a[href$='.cer']::after,
a[href$='.cfm']::after,
a[href$='.csr']::after,
a[href$='.css']::after,
a[href$='.js']::after,
a[href$='.rss']::after,
a[href$='.crx']::after,
a[href$='.plugin']::after,
a[href$='.fnt']::after,
a[href$='.fon']::after,
a[href$='.otf']::after,
a[href$='.ttf']::after,
a[href$='.cab']::after,
a[href$='.cpl']::after,
a[href$='.cur']::after,
a[href$='.deskthemepack']::after,
a[href$='.dll']::after,
a[href$='.dmp']::after,
a[href$='.drv']::after,
a[href$='.icns']::after,
a[href$='.ico']::after,
a[href$='.lnk']::after,
a[href$='.sys']::after,
a[href$='.cfg']::after,
a[href$='.ini']::after,
a[href$='.prf']::after,
a[href$='.hqx']::after,
a[href$='.mim']::after,
a[href$='.uue']::after,
a[href$='.7z']::after,
a[href$='.cbr']::after,
a[href$='.deb']::after,
a[href$='.gz']::after,
a[href$='.pkg']::after,
a[href$='.rar']::after,
a[href$='.rpm']::after,
a[href$='.sitx']::after,
a[href$='.tar.gz']::after,
a[href$='.zip']::after,
a[href$='.zipx']::after,
a[href$='.bin']::after,
a[href$='.cue']::after,
a[href$='.dmg']::after,
a[href$='.iso']::after,
a[href$='.mdf']::after,
a[href$='.toast']::after,
a[href$='.vcd']::after,
a[href$='.c']::after,
a[href$='.class']::after,
a[href$='.cpp']::after,
a[href$='.cs']::after,
a[href$='.dtd']::after,
a[href$='.fla']::after,
a[href$='.h']::after,
a[href$='.java']::after,
a[href$='.lua']::after,
a[href$='.m']::after,
a[href$='.pl']::after,
a[href$='.py']::after,
a[href$='.sh']::after,
a[href$='.sln']::after,
a[href$='.swift']::after,
a[href$='.vcxproj']::after,
a[href$='.xcodeproj']::after,
a[href$='.bak']::after,
a[href$='.tmp']::after,
a[href$='.crdownload']::after,
a[href$='.ics']::after,
a[href$='.msi']::after,
a[href$='.part']::after,
a[href$='.torrent']::after {
	margin: 0.5em;
	padding: 0.25em 0.5em;
	border-radius: 0.5em;
	
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size: 0.65em;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: uppercase;
	
	color: #fff;
	background-color: #00E;
}

a[href$='.doc']::after 	{ content: "doc"; }
a[href$='.docx']::after { content: "docx"; }
a[href$='.log']::after 	{ content: "log"; }
a[href$='.msg']::after 	{ content: "msg"; }
a[href$='.odt']::after 	{ content: "odt"; }
a[href$='.pages']::after{ content: "pages"; }
a[href$='.rtf']::after 	{ content: "rtf"; }
a[href$='.tex']::after 	{ content: "tex"; }
a[href$='.txt']::after 	{ content: "txt"; }
a[href$='.wpd']::after 	{ content: "wpd"; }
a[href$='.wps']::after 	{ content: "wps"; }
a[href$='.csv']::after 	{ content: "csv"; }
a[href$='.dat']::after 	{ content: "dat"; }
a[href$='.gbr']::after 	{ content: "gbr"; }
a[href$='.ged']::after 	{ content: "ged"; }
a[href$='.ibooks']::after { content: "ibooks"; }
a[href$='.key']::after 	{ content: "key"; }
a[href$='.keychain']::after { content: "keychain"; }
a[href$='.pps']::after 	{ content: "pps"; }
a[href$='.ppt']::after 	{ content: "ppt"; }
a[href$='.pptx']::after { content: "pptx"; }
a[href$='.sdf']::after 	{ content: "sdf"; }
a[href$='.tar']::after 	{ content: "tar"; }
a[href$='.tax2012']::after { content: "tax2012"; }
a[href$='.vcf']::after 	{ content: "vcf"; }
a[href$='.xml']::after 	{ content: "xml"; }
a[href$='.aif']::after 	{ content: "aif"; }
a[href$='.iff']::after 	{ content: "iff"; }
a[href$='.m3u']::after 	{ content: "m3u"; }
a[href$='.m4a']::after 	{ content: "m4a"; }
a[href$='.mid']::after 	{ content: "mid"; }
a[href$='.mp3']::after 	{ content: "mp3"; }
a[href$='.mpa']::after 	{ content: "mpa"; }
a[href$='.ra']::after 	{ content: "ra"; }
a[href$='.wav']::after 	{ content: "wav"; }
a[href$='.wma']::after 	{ content: "wma"; }
a[href$='.3g2']::after 	{ content: "3g2"; }
a[href$='.3gp']::after 	{ content: "3gp"; }
a[href$='.asf']::after 	{ content: "asf"; }
a[href$='.asx']::after 	{ content: "asx"; }
a[href$='.avi']::after 	{ content: "avi"; }
a[href$='.flv']::after 	{ content: "flv"; }
a[href$='.m4v']::after 	{ content: "m4v"; }
a[href$='.mov']::after 	{ content: "mov"; }
a[href$='.mp4']::after 	{ content: "mp4"; }
a[href$='.mpg']::after 	{ content: "mpg"; }
a[href$='.rm']::after 	{ content: "rm"; }
a[href$='.srt']::after 	{ content: "srt"; }
a[href$='.swf']::after 	{ content: "swf"; }
a[href$='.vob']::after 	{ content: "vob"; }
a[href$='.wmv']::after 	{ content: "wmv"; }
a[href$='.3dm']::after 	{ content: "3dm"; }
a[href$='.3ds']::after 	{ content: "3ds"; }
a[href$='.max']::after 	{ content: "max"; }
a[href$='.obj']::after 	{ content: "obj"; }
a[href$='.bmp']::after 	{ content: "bmp"; }
a[href$='.dds']::after 	{ content: "dds"; }
a[href$='.gif']::after 	{ content: "gif"; }
a[href$='.jpg']::after 	{ content: "jpg"; }
a[href$='.png']::after 	{ content: "png"; }
a[href$='.psd']::after 	{ content: "psd"; }
a[href$='.pspimage']::after { content: "pspimage"; }
a[href$='.tga']::after 	{ content: "tga"; }
a[href$='.thm']::after 	{ content: "thm"; }
a[href$='.tif']::after 	{ content: "tif"; }
a[href$='.tiff']::after { content: "tiff"; }
a[href$='.yuv']::after 	{ content: "yuv"; }
a[href$='.ai']::after 	{ content: "ai"; }
a[href$='.eps']::after 	{ content: "eps"; }
a[href$='.ps']::after 	{ content: "ps"; }
a[href$='.svg']::after 	{ content: "svg"; }
a[href$='.indd']::after { content: "indd"; }
a[href$='.pct']::after 	{ content: "pct"; }
a[href$='.pdf']::after 	{ content: "pdf"; }
a[href$='.xlr']::after 	{ content: "xlr"; }
a[href$='.xls']::after 	{ content: "xls"; }
a[href$='.xlsx']::after { content: "xlsx"; }
a[href$='.accdb']::after { content: "accdb"; }
a[href$='.db']::after 	{ content: "db"; }
a[href$='.dbf']::after 	{ content: "dbf"; }
a[href$='.mdb']::after 	{ content: "mdb"; }
a[href$='.pdb']::after 	{ content: "pdb"; }
a[href$='.sql']::after 	{ content: "sql"; }
a[href$='.apk']::after 	{ content: "apk"; }
a[href$='.app']::after 	{ content: "app"; }
a[href$='.bat']::after 	{ content: "bat"; }
a[href$='.cgi']::after 	{ content: "cgi"; }
a[href$='.com']::after 	{ content: "com"; }
a[href$='.exe']::after 	{ content: "exe"; }
a[href$='.gadget']::after { content: "gadget"; }
a[href$='.jar']::after 	{ content: "jar"; }
a[href$='.pif']::after 	{ content: "pif"; }
a[href$='.vb']::after 	{ content: "vb"; }
a[href$='.wsf']::after 	{ content: "wsf"; }
a[href$='.dem']::after 	{ content: "dem"; }
a[href$='.gam']::after 	{ content: "gam"; }
a[href$='.nes']::after 	{ content: "nes"; }
a[href$='.rom']::after 	{ content: "rom"; }
a[href$='.sav']::after 	{ content: "sav"; }
a[href$='.dwg']::after 	{ content: "dwg"; }
a[href$='.dxf']::after 	{ content: "dxf"; }
a[href$='.gpx']::after 	{ content: "gpx"; }
a[href$='.kml']::after 	{ content: "kml"; }
a[href$='.kmz']::after 	{ content: "kmz"; }
a[href$='.asp']::after 	{ content: "asp"; }
a[href$='.aspx']::after { content: "aspx"; }
a[href$='.cer']::after 	{ content: "cer"; }
a[href$='.cfm']::after 	{ content: "cfm"; }
a[href$='.csr']::after 	{ content: "csr"; }
a[href$='.css']::after 	{ content: "css"; }
a[href$='.js']::after 	{ content: "js"; }
a[href$='.rss']::after 	{ content: "rss"; }
a[href$='.crx']::after 	{ content: "crx"; }
a[href$='.plugin']::after { content: "plugin"; }
a[href$='.fnt']::after 	{ content: "fnt"; }
a[href$='.fon']::after 	{ content: "fon"; }
a[href$='.otf']::after 	{ content: "otf"; }
a[href$='.ttf']::after 	{ content: "ttf"; }
a[href$='.cab']::after 	{ content: "cab"; }
a[href$='.cpl']::after 	{ content: "cpl"; }
a[href$='.cur']::after 	{ content: "cur"; }
a[href$='.deskthemepack']::after { content: "deskthemepack"; }
a[href$='.dll']::after 	{ content: "dll"; }
a[href$='.dmp']::after 	{ content: "dmp"; }
a[href$='.drv']::after 	{ content: "drv"; }
a[href$='.icns']::after { content: "icns"; }
a[href$='.ico']::after 	{ content: "ico"; }
a[href$='.lnk']::after 	{ content: "lnk"; }
a[href$='.sys']::after 	{ content: "sys"; }
a[href$='.cfg']::after 	{ content: "cfg"; }
a[href$='.ini']::after 	{ content: "ini"; }
a[href$='.prf']::after 	{ content: "prf"; }
a[href$='.hqx']::after 	{ content: "hqx"; }
a[href$='.mim']::after 	{ content: "mim"; }
a[href$='.uue']::after 	{ content: "uue"; }
a[href$='.7z']::after 	{ content: "7z"; }
a[href$='.cbr']::after 	{ content: "cbr"; }
a[href$='.deb']::after 	{ content: "deb"; }
a[href$='.gz']::after 	{ content: "gz"; }
a[href$='.pkg']::after 	{ content: "pkg"; }
a[href$='.rar']::after 	{ content: "rar"; }
a[href$='.rpm']::after 	{ content: "rpm"; }
a[href$='.sitx']::after { content: "sitx"; }
a[href$='.tar.gz']::after { content: "tar.gz"; }
a[href$='.zip']::after 	{ content: "zip"; }
a[href$='.zipx']::after { content: "zipx"; }
a[href$='.bin']::after 	{ content: "bin"; }
a[href$='.cue']::after 	{ content: "cue"; }
a[href$='.dmg']::after 	{ content: "dmg"; }
a[href$='.iso']::after 	{ content: "iso"; }
a[href$='.mdf']::after 	{ content: "mdf"; }
a[href$='.toast']::after { content: "toast"; }
a[href$='.vcd']::after 	{ content: "vcd"; }
a[href$='.c']::after 	{ content: "c"; }
a[href$='.class']::after { content: "class"; }
a[href$='.cpp']::after 	{ content: "cpp"; }
a[href$='.cs']::after 	{ content: "cs"; }
a[href$='.dtd']::after 	{ content: "dtd"; }
a[href$='.fla']::after 	{ content: "fla"; }
a[href$='.h']::after 	{ content: "h"; }
a[href$='.java']::after { content: "java"; }
a[href$='.lua']::after 	{ content: "lua"; }
a[href$='.m']::after 	{ content: "m"; }
a[href$='.pl']::after 	{ content: "pl"; }
a[href$='.py']::after 	{ content: "py"; }
a[href$='.sh']::after 	{ content: "sh"; }
a[href$='.sln']::after 	{ content: "sln"; }
a[href$='.swift']::after { content: "swift"; }
a[href$='.vcxproj']::after { content: "vcxproj"; }
a[href$='.xcodeproj']::after { content: "xcodeproj"; }
a[href$='.bak']::after 	{ content: "bak"; }
a[href$='.tmp']::after 	{ content: "tmp"; }
a[href$='.crdownload']::after { content: "crdownload"; }
a[href$='.ics']::after 	{ content: "ics"; }
a[href$='.msi']::after 	{ content: "msi"; }
a[href$='.part']::after { content: "part"; }
a[href$='.torrent']::after { content: "torrent"; }
