@charset "utf-8";
/* Anchor Extension Check,
********************************************/
a[href$='.doc']:hover::after,
a[href$='.docx']:hover::after,
a[href$='.log']:hover::after,
a[href$='.msg']:hover::after,
a[href$='.odt']:hover::after,
a[href$='.pages']:hover::after,
a[href$='.rtf']:hover::after,
a[href$='.tex']:hover::after,
a[href$='.txt']:hover::after,
a[href$='.wpd']:hover::after,
a[href$='.wps']:hover::after,
a[href$='.csv']:hover::after,
a[href$='.dat']:hover::after,
a[href$='.gbr']:hover::after,
a[href$='.ged']:hover::after,
a[href$='.ibooks']:hover::after,
a[href$='.key']:hover::after,
a[href$='.keychain']:hover::after,
a[href$='.pps']:hover::after,
a[href$='.ppt']:hover::after,
a[href$='.pptx']:hover::after,
a[href$='.sdf']:hover::after,
a[href$='.tar']:hover::after,
a[href$='.tax2012']:hover::after,
a[href$='.vcf']:hover::after,
a[href$='.xml']:hover::after,
a[href$='.aif']:hover::after,
a[href$='.iff']:hover::after,
a[href$='.m3u']:hover::after,
a[href$='.m4a']:hover::after,
a[href$='.mid']:hover::after,
a[href$='.mp3']:hover::after,
a[href$='.mpa']:hover::after,
a[href$='.ra']:hover::after,
a[href$='.wav']:hover::after,
a[href$='.wma']:hover::after,
a[href$='.3g2']:hover::after,
a[href$='.3gp']:hover::after,
a[href$='.asf']:hover::after,
a[href$='.asx']:hover::after,
a[href$='.avi']:hover::after,
a[href$='.flv']:hover::after,
a[href$='.m4v']:hover::after,
a[href$='.mov']:hover::after,
a[href$='.mp4']:hover::after,
a[href$='.mpg']:hover::after,
a[href$='.rm']:hover::after,
a[href$='.srt']:hover::after,
a[href$='.swf']:hover::after,
a[href$='.vob']:hover::after,
a[href$='.wmv']:hover::after,
a[href$='.3dm']:hover::after,
a[href$='.3ds']:hover::after,
a[href$='.max']:hover::after,
a[href$='.obj']:hover::after,
a[href$='.bmp']:hover::after,
a[href$='.dds']:hover::after,
a[href$='.gif']:hover::after,
a[href$='.jpg']:hover::after,
a[href$='.png']:hover::after,
a[href$='.psd']:hover::after,
a[href$='.pspimage']:hover::after,
a[href$='.tga']:hover::after,
a[href$='.thm']:hover::after,
a[href$='.tif']:hover::after,
a[href$='.tiff']:hover::after,
a[href$='.yuv']:hover::after,
a[href$='.ai']:hover::after,
a[href$='.eps']:hover::after,
a[href$='.ps']:hover::after,
a[href$='.svg']:hover::after,
a[href$='.indd']:hover::after,
a[href$='.pct']:hover::after,
a[href$='.pdf']:hover::after,
a[href$='.xlr']:hover::after,
a[href$='.xls']:hover::after,
a[href$='.xlsx']:hover::after,
a[href$='.accdb']:hover::after,
a[href$='.db']:hover::after,
a[href$='.dbf']:hover::after,
a[href$='.mdb']:hover::after,
a[href$='.pdb']:hover::after,
a[href$='.sql']:hover::after,
a[href$='.apk']:hover::after,
a[href$='.app']:hover::after,
a[href$='.bat']:hover::after,
a[href$='.cgi']:hover::after,
a[href$='.com']:hover::after,
a[href$='.exe']:hover::after,
a[href$='.gadget']:hover::after,
a[href$='.jar']:hover::after,
a[href$='.pif']:hover::after,
a[href$='.vb']:hover::after,
a[href$='.wsf']:hover::after,
a[href$='.dem']:hover::after,
a[href$='.gam']:hover::after,
a[href$='.nes']:hover::after,
a[href$='.rom']:hover::after,
a[href$='.sav']:hover::after,
a[href$='.dwg']:hover::after,
a[href$='.dxf']:hover::after,
a[href$='.gpx']:hover::after,
a[href$='.kml']:hover::after,
a[href$='.kmz']:hover::after,
a[href$='.asp']:hover::after,
a[href$='.aspx']:hover::after,
a[href$='.cer']:hover::after,
a[href$='.cfm']:hover::after,
a[href$='.csr']:hover::after,
a[href$='.css']:hover::after,
a[href$='.js']:hover::after,
a[href$='.rss']:hover::after,
a[href$='.crx']:hover::after,
a[href$='.plugin']:hover::after,
a[href$='.fnt']:hover::after,
a[href$='.fon']:hover::after,
a[href$='.otf']:hover::after,
a[href$='.ttf']:hover::after,
a[href$='.cab']:hover::after,
a[href$='.cpl']:hover::after,
a[href$='.cur']:hover::after,
a[href$='.deskthemepack']:hover::after,
a[href$='.dll']:hover::after,
a[href$='.dmp']:hover::after,
a[href$='.drv']:hover::after,
a[href$='.icns']:hover::after,
a[href$='.ico']:hover::after,
a[href$='.lnk']:hover::after,
a[href$='.sys']:hover::after,
a[href$='.cfg']:hover::after,
a[href$='.ini']:hover::after,
a[href$='.prf']:hover::after,
a[href$='.hqx']:hover::after,
a[href$='.mim']:hover::after,
a[href$='.uue']:hover::after,
a[href$='.7z']:hover::after,
a[href$='.cbr']:hover::after,
a[href$='.deb']:hover::after,
a[href$='.gz']:hover::after,
a[href$='.pkg']:hover::after,
a[href$='.rar']:hover::after,
a[href$='.rpm']:hover::after,
a[href$='.sitx']:hover::after,
a[href$='.tar.gz']:hover::after,
a[href$='.zip']:hover::after,
a[href$='.zipx']:hover::after,
a[href$='.bin']:hover::after,
a[href$='.cue']:hover::after,
a[href$='.dmg']:hover::after,
a[href$='.iso']:hover::after,
a[href$='.mdf']:hover::after,
a[href$='.toast']:hover::after,
a[href$='.vcd']:hover::after,
a[href$='.c']:hover::after,
a[href$='.class']:hover::after,
a[href$='.cpp']:hover::after,
a[href$='.cs']:hover::after,
a[href$='.dtd']:hover::after,
a[href$='.fla']:hover::after,
a[href$='.h']:hover::after,
a[href$='.java']:hover::after,
a[href$='.lua']:hover::after,
a[href$='.m']:hover::after,
a[href$='.pl']:hover::after,
a[href$='.py']:hover::after,
a[href$='.sh']:hover::after,
a[href$='.sln']:hover::after,
a[href$='.swift']:hover::after,
a[href$='.vcxproj']:hover::after,
a[href$='.xcodeproj']:hover::after,
a[href$='.bak']:hover::after,
a[href$='.tmp']:hover::after,
a[href$='.crdownload']:hover::after,
a[href$='.ics']:hover::after,
a[href$='.msi']:hover::after,
a[href$='.part']:hover::after,
a[href$='.torrent']:hover::after {
	position: absolute;
	margin: 0.2em 0.5em;
	padding: 0.25em 0.5em;
	border-radius: 0.5em;
	
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size: 0.65em;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: uppercase;
	
	color: #fff;
	background-color: #00E;

	-moz-animation: fadein 0.8s;
	-webkit-animation: fadein 0.8s;
	-o-animation: fadein 0.8s;
	animation: fadein 0.8s;

}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-moz-keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-webkit-keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-o-keyframes fadein { 
	from {
		opacity:0;
	}
	to {
		opacity: 1;
	}
}

a[href$='.doc']:hover::after 	{ content: "doc"; }
a[href$='.docx']:hover::after { content: "docx"; }
a[href$='.log']:hover::after 	{ content: "log"; }
a[href$='.msg']:hover::after 	{ content: "msg"; }
a[href$='.odt']:hover::after 	{ content: "odt"; }
a[href$='.pages']:hover::after{ content: "pages"; }
a[href$='.rtf']:hover::after 	{ content: "rtf"; }
a[href$='.tex']:hover::after 	{ content: "tex"; }
a[href$='.txt']:hover::after 	{ content: "txt"; }
a[href$='.wpd']:hover::after 	{ content: "wpd"; }
a[href$='.wps']:hover::after 	{ content: "wps"; }
a[href$='.csv']:hover::after 	{ content: "csv"; }
a[href$='.dat']:hover::after 	{ content: "dat"; }
a[href$='.gbr']:hover::after 	{ content: "gbr"; }
a[href$='.ged']:hover::after 	{ content: "ged"; }
a[href$='.ibooks']:hover::after { content: "ibooks"; }
a[href$='.key']:hover::after 	{ content: "key"; }
a[href$='.keychain']:hover::after { content: "keychain"; }
a[href$='.pps']:hover::after 	{ content: "pps"; }
a[href$='.ppt']:hover::after 	{ content: "ppt"; }
a[href$='.pptx']:hover::after { content: "pptx"; }
a[href$='.sdf']:hover::after 	{ content: "sdf"; }
a[href$='.tar']:hover::after 	{ content: "tar"; }
a[href$='.tax2012']:hover::after { content: "tax2012"; }
a[href$='.vcf']:hover::after 	{ content: "vcf"; }
a[href$='.xml']:hover::after 	{ content: "xml"; }
a[href$='.aif']:hover::after 	{ content: "aif"; }
a[href$='.iff']:hover::after 	{ content: "iff"; }
a[href$='.m3u']:hover::after 	{ content: "m3u"; }
a[href$='.m4a']:hover::after 	{ content: "m4a"; }
a[href$='.mid']:hover::after 	{ content: "mid"; }
a[href$='.mp3']:hover::after 	{ content: "mp3"; }
a[href$='.mpa']:hover::after 	{ content: "mpa"; }
a[href$='.ra']:hover::after 	{ content: "ra"; }
a[href$='.wav']:hover::after 	{ content: "wav"; }
a[href$='.wma']:hover::after 	{ content: "wma"; }
a[href$='.3g2']:hover::after 	{ content: "3g2"; }
a[href$='.3gp']:hover::after 	{ content: "3gp"; }
a[href$='.asf']:hover::after 	{ content: "asf"; }
a[href$='.asx']:hover::after 	{ content: "asx"; }
a[href$='.avi']:hover::after 	{ content: "avi"; }
a[href$='.flv']:hover::after 	{ content: "flv"; }
a[href$='.m4v']:hover::after 	{ content: "m4v"; }
a[href$='.mov']:hover::after 	{ content: "mov"; }
a[href$='.mp4']:hover::after 	{ content: "mp4"; }
a[href$='.mpg']:hover::after 	{ content: "mpg"; }
a[href$='.rm']:hover::after 	{ content: "rm"; }
a[href$='.srt']:hover::after 	{ content: "srt"; }
a[href$='.swf']:hover::after 	{ content: "swf"; }
a[href$='.vob']:hover::after 	{ content: "vob"; }
a[href$='.wmv']:hover::after 	{ content: "wmv"; }
a[href$='.3dm']:hover::after 	{ content: "3dm"; }
a[href$='.3ds']:hover::after 	{ content: "3ds"; }
a[href$='.max']:hover::after 	{ content: "max"; }
a[href$='.obj']:hover::after 	{ content: "obj"; }
a[href$='.bmp']:hover::after 	{ content: "bmp"; }
a[href$='.dds']:hover::after 	{ content: "dds"; }
a[href$='.gif']:hover::after 	{ content: "gif"; }
a[href$='.jpg']:hover::after 	{ content: "jpg"; }
a[href$='.png']:hover::after 	{ content: "png"; }
a[href$='.psd']:hover::after 	{ content: "psd"; }
a[href$='.pspimage']:hover::after { content: "pspimage"; }
a[href$='.tga']:hover::after 	{ content: "tga"; }
a[href$='.thm']:hover::after 	{ content: "thm"; }
a[href$='.tif']:hover::after 	{ content: "tif"; }
a[href$='.tiff']:hover::after { content: "tiff"; }
a[href$='.yuv']:hover::after 	{ content: "yuv"; }
a[href$='.ai']:hover::after 	{ content: "ai"; }
a[href$='.eps']:hover::after 	{ content: "eps"; }
a[href$='.ps']:hover::after 	{ content: "ps"; }
a[href$='.svg']:hover::after 	{ content: "svg"; }
a[href$='.indd']:hover::after { content: "indd"; }
a[href$='.pct']:hover::after 	{ content: "pct"; }
a[href$='.pdf']:hover::after 	{ content: "pdf"; }
a[href$='.xlr']:hover::after 	{ content: "xlr"; }
a[href$='.xls']:hover::after 	{ content: "xls"; }
a[href$='.xlsx']:hover::after { content: "xlsx"; }
a[href$='.accdb']:hover::after { content: "accdb"; }
a[href$='.db']:hover::after 	{ content: "db"; }
a[href$='.dbf']:hover::after 	{ content: "dbf"; }
a[href$='.mdb']:hover::after 	{ content: "mdb"; }
a[href$='.pdb']:hover::after 	{ content: "pdb"; }
a[href$='.sql']:hover::after 	{ content: "sql"; }
a[href$='.apk']:hover::after 	{ content: "apk"; }
a[href$='.app']:hover::after 	{ content: "app"; }
a[href$='.bat']:hover::after 	{ content: "bat"; }
a[href$='.cgi']:hover::after 	{ content: "cgi"; }
a[href$='.com']:hover::after 	{ content: "com"; }
a[href$='.exe']:hover::after 	{ content: "exe"; }
a[href$='.gadget']:hover::after { content: "gadget"; }
a[href$='.jar']:hover::after 	{ content: "jar"; }
a[href$='.pif']:hover::after 	{ content: "pif"; }
a[href$='.vb']:hover::after 	{ content: "vb"; }
a[href$='.wsf']:hover::after 	{ content: "wsf"; }
a[href$='.dem']:hover::after 	{ content: "dem"; }
a[href$='.gam']:hover::after 	{ content: "gam"; }
a[href$='.nes']:hover::after 	{ content: "nes"; }
a[href$='.rom']:hover::after 	{ content: "rom"; }
a[href$='.sav']:hover::after 	{ content: "sav"; }
a[href$='.dwg']:hover::after 	{ content: "dwg"; }
a[href$='.dxf']:hover::after 	{ content: "dxf"; }
a[href$='.gpx']:hover::after 	{ content: "gpx"; }
a[href$='.kml']:hover::after 	{ content: "kml"; }
a[href$='.kmz']:hover::after 	{ content: "kmz"; }
a[href$='.asp']:hover::after 	{ content: "asp"; }
a[href$='.aspx']:hover::after { content: "aspx"; }
a[href$='.cer']:hover::after 	{ content: "cer"; }
a[href$='.cfm']:hover::after 	{ content: "cfm"; }
a[href$='.csr']:hover::after 	{ content: "csr"; }
a[href$='.css']:hover::after 	{ content: "css"; }
a[href$='.js']:hover::after 	{ content: "js"; }
a[href$='.rss']:hover::after 	{ content: "rss"; }
a[href$='.crx']:hover::after 	{ content: "crx"; }
a[href$='.plugin']:hover::after { content: "plugin"; }
a[href$='.fnt']:hover::after 	{ content: "fnt"; }
a[href$='.fon']:hover::after 	{ content: "fon"; }
a[href$='.otf']:hover::after 	{ content: "otf"; }
a[href$='.ttf']:hover::after 	{ content: "ttf"; }
a[href$='.cab']:hover::after 	{ content: "cab"; }
a[href$='.cpl']:hover::after 	{ content: "cpl"; }
a[href$='.cur']:hover::after 	{ content: "cur"; }
a[href$='.deskthemepack']:hover::after { content: "deskthemepack"; }
a[href$='.dll']:hover::after 	{ content: "dll"; }
a[href$='.dmp']:hover::after 	{ content: "dmp"; }
a[href$='.drv']:hover::after 	{ content: "drv"; }
a[href$='.icns']:hover::after { content: "icns"; }
a[href$='.ico']:hover::after 	{ content: "ico"; }
a[href$='.lnk']:hover::after 	{ content: "lnk"; }
a[href$='.sys']:hover::after 	{ content: "sys"; }
a[href$='.cfg']:hover::after 	{ content: "cfg"; }
a[href$='.ini']:hover::after 	{ content: "ini"; }
a[href$='.prf']:hover::after 	{ content: "prf"; }
a[href$='.hqx']:hover::after 	{ content: "hqx"; }
a[href$='.mim']:hover::after 	{ content: "mim"; }
a[href$='.uue']:hover::after 	{ content: "uue"; }
a[href$='.7z']:hover::after 	{ content: "7z"; }
a[href$='.cbr']:hover::after 	{ content: "cbr"; }
a[href$='.deb']:hover::after 	{ content: "deb"; }
a[href$='.gz']:hover::after 	{ content: "gz"; }
a[href$='.pkg']:hover::after 	{ content: "pkg"; }
a[href$='.rar']:hover::after 	{ content: "rar"; }
a[href$='.rpm']:hover::after 	{ content: "rpm"; }
a[href$='.sitx']:hover::after { content: "sitx"; }
a[href$='.tar.gz']:hover::after { content: "tar.gz"; }
a[href$='.zip']:hover::after 	{ content: "zip"; }
a[href$='.zipx']:hover::after { content: "zipx"; }
a[href$='.bin']:hover::after 	{ content: "bin"; }
a[href$='.cue']:hover::after 	{ content: "cue"; }
a[href$='.dmg']:hover::after 	{ content: "dmg"; }
a[href$='.iso']:hover::after 	{ content: "iso"; }
a[href$='.mdf']:hover::after 	{ content: "mdf"; }
a[href$='.toast']:hover::after { content: "toast"; }
a[href$='.vcd']:hover::after 	{ content: "vcd"; }
a[href$='.c']:hover::after 	{ content: "c"; }
a[href$='.class']:hover::after { content: "class"; }
a[href$='.cpp']:hover::after 	{ content: "cpp"; }
a[href$='.cs']:hover::after 	{ content: "cs"; }
a[href$='.dtd']:hover::after 	{ content: "dtd"; }
a[href$='.fla']:hover::after 	{ content: "fla"; }
a[href$='.h']:hover::after 	{ content: "h"; }
a[href$='.java']:hover::after { content: "java"; }
a[href$='.lua']:hover::after 	{ content: "lua"; }
a[href$='.m']:hover::after 	{ content: "m"; }
a[href$='.pl']:hover::after 	{ content: "pl"; }
a[href$='.py']:hover::after 	{ content: "py"; }
a[href$='.sh']:hover::after 	{ content: "sh"; }
a[href$='.sln']:hover::after 	{ content: "sln"; }
a[href$='.swift']:hover::after { content: "swift"; }
a[href$='.vcxproj']:hover::after { content: "vcxproj"; }
a[href$='.xcodeproj']:hover::after { content: "xcodeproj"; }
a[href$='.bak']:hover::after 	{ content: "bak"; }
a[href$='.tmp']:hover::after 	{ content: "tmp"; }
a[href$='.crdownload']:hover::after { content: "crdownload"; }
a[href$='.ics']:hover::after 	{ content: "ics"; }
a[href$='.msi']:hover::after 	{ content: "msi"; }
a[href$='.part']:hover::after { content: "part"; }
a[href$='.torrent']:hover::after { content: "torrent"; }
